[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.6"

[packages]
django = "*"
django-debug-toolbar = "*"
"psycopg2-binary" = "*"
sanic = "*"
pycryptodome = "*"
django-mptt = "*"
