[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
v = {editable = true,version = "*"}
pylint = "*"

[packages]
django = "*"
django-debug-toolbar = "*"
"psycopg2-binary" = "*"
sanic = "*"
pycryptodome = "*"
django-mptt = "*"
gunicorn = "*"
django-registration = "*"
django-environ = "*"
