{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="auth-page">
<div class="dialog">
  <div class="dialog__inner">
    <header>
      <h2 class="form__title">Активация пройдена</h2>
    </header>
    <p class="form__description">
        Ссылка была уже использована
      </p>
      
    <div class="form__button-wrapper mt-double">
      <a href="/" class="waves-effect waves-light btn btn--primary">
        Перейти на главную
      </a>
    </div>
    <p class="form__description form__description--small">
        Написать в <a href="/">Службу технической поддержки</a>
      </p>
  </div>
</div>

  </main>
  {% endblock %}