{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main class="auth-page">
<div class="dialog">
  <div class="dialog__inner">
    <header>
      <h3>Пожалуйста залогиньтесь</h3>
    </header>
      {% if request.user.is_anonymous %}
      <form name="loginform" id="loginform" method="post">
          {% csrf_token %}
         <p><label for="user_login">Ваша почта<br />{{ form.username }}</label>
          </p>

          <p><label for="user_pass">Пароль <br />
              {{ form.password }} {{ form.non_field_errors }}</label>
          </p>
          <br />
      <p class="submit">
              <button type="submit" class="button button-primary button-large">Войти</button>
          </p>
      </form>
      {% else %}
      <div class="form__button-wrapper mt-double">
          {% if request.user.is_staff %}
          <a href="{% url 'registration_company' %}" class="waves-effect waves-light btn btn--primary">
              Продолжить регистрацию компании
          </a>
          {% else %}
          <a href="{% url 'registration_finaly' %}" class="waves-effect waves-light btn btn--primary">
              Продолжить регистрацию сотрудника
          </a>     
          {% endif %}
        </div>
      {% endif %}
    
    <p class="form__description form__description--small">
        Написать в <a href="/">Службу технической поддержки</a>
      </p>
  </div>
</div>

  </main>
  {% endblock %} 