{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="auth-page">
<div class="dialog">
  <div class="dialog__inner">
    <header>
      <h2 class="form__title">Благодарим за регистрацию! Теперь Вы можете приступить к работе</h2>
    </header>
    <p class="form__description">
       
    </p>
    <div class="form__button-wrapper mt-double">
      <a href="/" class="waves-effect waves-light btn btn--primary">
        Перейти на главную
      </a>
    </div>
  </div>
</div>

  </main>
  {% endblock %} 