{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block CSS %}
    <link rel="stylesheet" href="{% static 'dist/libs/smartwizard/smartwizard.css' %}">
  <link rel="stylesheet" href="{% static 'dist/libs/select2/select2.css' %}">
    {% endblock %}

{% block content %}


<div class="container-fluid flex-grow-1 container-p-y">
          <form  method="POST" enctype="multipart/form-data" id="smartwizard-form" class="smartwizard-vertical-left sw-main sw-theme-default">
              {% csrf_token %}
            <ul class="nav nav-tabs step-anchor">
              <li class="nav-item done"><a href="#" class="text-nowrap mb-3 nav-link">
                <span class="sw-done-icon ion ion-md-checkmark"></span>
                <span class="sw-icon ion ion-ios-keypad"></span>
                <div class="text-muted small">Первый шаг</div>
                О компании
              </a></li>
              <li class="nav-item active"><a href="#" class="text-nowrap mb-3 nav-link">
                <span class="sw-done-icon ion ion-md-checkmark"></span>
                <span class="sw-icon ion ion-ios-color-wand"></span>
                <div class="text-muted small">Второй шаг</div>
                Администратор компании
              </a></li>
              <li class="nav-item clickable"><a href="#" class="text-nowrap mb-3 nav-link">
                <span class="sw-done-icon ion ion-md-checkmark"></span>
                <span class="sw-icon ion ion-md-copy"></span>
                <div class="text-muted small">Третий шаг</div>
                Контакты
              </a></li>
              <li class="nav-item "><a href="javascript:void(0);" class="text-nowrap mb-3 nav-link">
                <span class="sw-done-icon ion ion-md-checkmark"></span>
                <span class="sw-icon ion ion-md-copy"></span>
                <div class="text-muted small">Четвертый шаг</div>
                Завершение
              </a></li>
            </ul>

            <div class="mb-3 sw-container tab-content">
              <div id="smartwizard-4-step-2" class="card animated fadeIn mb-3 tab-pane step-content" style="display: block;">
                <div class="card-body">
{#                  <div class="form-group">#}
{#                    <label>Имя <span class="text-danger">*</span></label>#}
{#                      #}
{#                    <input name="wizard-userName" type="text" class="form-control required" aria-invalid="false">#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label>Фамилия <span class="text-danger">*</span></label>#}
{#                    <input name="wizard-userName" type="text" class="form-control required" aria-invalid="false">#}
{#                  </div>#}
                  <div class="form-group">
                    <label>Город <span class="text-danger">*</span></label>
                      {% render_field form.city aria-invalid="false" class+="form-control required" %}
{#                    <input name="wizard-userName" type="text" class="form-control required" aria-invalid="false">#}
                  </div>
                  <div class="form-group">
                    <label>Роль <span class="text-danger">*</span></label>
                      {% render_field form.role class+="select2 form-control" style="width: 100%" data-allow-clear="true" %}
{#                      {{ form.role }}#}
                  </div>
                  <div class="form-group">
                    <label>Аватар <span class="text-danger">*</span></label>
                    {% render_field form.userpic aria-invalid="false" class+="form-control required" %}
                  </div>
                  <div class="form-group">
                    <label>Биография или о пользователе <span class="text-danger">*</span></label>
                    {% render_field form.biography rows="2" aria-invalid="false" class+="form-control required" %}
                  </div>
                    <div class="form-group">
                    <label>Контакты <span class="text-danger">*</span></label>
                    {% render_field form.contacts rows="2" aria-invalid="false" class+="form-control required" %}
                  </div>
{#                  <div class="form-group">#}
{#                    <label>Рейтинг <span class="text-danger">*</span></label>#}
{#                    <div class="form-group">#}
{#                      <div class="ui-stars text-muted form-stars">#}
{#                        <input type="radio" class="hidden" id="rating_star_5">#}
{#                        <label for="rating_star_5" class="ui-star">#}
{#                          <i class="ion ion-md-star"></i>#}
{#                          <i class="ion ion-md-star"></i>#}
{#                        </label>#}
{#                        <input type="radio" class="hidden" id="rating_star_4">#}
{#                        <label for="rating_star_4" class="ui-star">#}
{#                          <i class="ion ion-md-star"></i>#}
{#                          <i class="ion ion-md-star"></i>#}
{#                        </label>#}
{#                        <input type="radio" class="hidden" id="rating_star_3">#}
{#                        <label for="rating_star_3" class="ui-star">#}
{#                          <i class="ion ion-md-star"></i>#}
{#                          <i class="ion ion-md-star"></i>#}
{#                        </label>#}
{#                        <input type="radio" class="hidden" id="rating_star_2">#}
{#                        <label for="rating_star_2" class="ui-star">#}
{#                          <i class="ion ion-md-star"></i>#}
{#                          <i class="ion ion-md-star"></i>#}
{#                        </label>#}
{#                        <input type="radio" class="hidden" id="rating_star_1">#}
{#                        <label for="rating_star_1" class="ui-star">#}
{#                          <i class="ion ion-md-star"></i>#}
{#                          <i class="ion ion-md-star"></i>#}
{#                        </label>#}
{##}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}

                </div>
              </div>
              <div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end">
                <div class="btn-group sw-btn-group" role="group">
                  <a href="#" class="btn btn-secondary sw-btn-prev">Назад</a>
                  <button class="btn btn-secondary sw-btn-next" type="submit">Далее</button>
                </div>
              </div>
            </div>
          </form>
        </div>
    {% endblock %}