{% load static %}
<html lang="ru">
    <head>
    	{% block title %}<title>Chain Of Trust</title>{% endblock %}
    	<meta charset="utf-8">
		
      
       
    
<link rel="stylesheet" href="{% static "./css/main.css" %}"/>
<meta name="msapplication-TileColor" content="#ffffff">
 <meta name="theme-color" content="#ffffff">
</head>
<body>

<div class="rectangle1"></div>
<div class="rectangle2"></div>
<div class="rectangle3"></div>
<header><label class="logo">CoT <br><strong> Chain Of Trust</strong></label>

    <h1 class="header_title">Setting the standart for expertise & competency validation.</h1></header>
   <main> 
    <h2 class="main_moto">Chain Of Trust (CoT) is the first industry-focused blockchain-based platform that securely verify and track expertise & competency level of a company.</h2>
<h3 class="contact">Talk to a product specialist via Telegram or WhatsApp</h3></main>

</body>
</html>