{% extends "base.html" %}
{% load static %}
{% block CSS %}
    <link rel="stylesheet" href="{% static 'dist/libs/smartwizard/smartwizard.css' %}">
  <link rel="stylesheet" href="{% static 'dist/libs/select2/select2.css' %}">
    {% endblock %}

{% block content %}


{#<div class="card p-4 mt-5">#}
{#    <header>#}
{#        <h5 class="text-gray">#}
{#        {{ company.name }}#}
{#        </h5>#}
{#        <br>#}
{#    </header>#}
{#    <div class="mt-3">#}
{#        <div class="mb-2">#}
{#            <span>Юридический адресс:</span>#}
{#            <p>{{ company.legal_address }}</p>#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <span>ИНН:</span>#}
{#            <p>{{ company.TIN }}</p>#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <span>ОБРН:</span>#}
{#            <p>{{ company.PSRN }}</p>#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <span>КПП:</span>#}
{#            <p>{{ company.KPP }}</p>#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <span>Генеральный директор:</span>#}
{#            <p>{{ company.CEO }}</p>#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <span>Дата основания:</span>#}
{#            <p>{{ company.date_of_establishment }}</p>#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <span>Действия:</span>#}
{#            <p>{% block actions %}{% endblock %}</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
           <div class="container-fluid flex-grow-1 container-p-y">
          <form method="POST" enctype="multipart/form-data" id="smartwizard-form" class="smartwizard-vertical-left sw-main sw-theme-default" novalidate="novalidate">
            {% csrf_token %}
              <ul class="nav nav-tabs step-anchor">
              <li class="nav-item active"><a href="#smartwizard-4-step-1" class="text-nowrap mb-3 nav-link">
                <span class="sw-done-icon ion ion-md-checkmark"></span>
                <span class="sw-icon ion ion-ios-keypad"></span>
                <div class="text-muted small">Первый шаг</div>
                О компании
              </a></li>
              <li class="nav-item"><a href="#smartwizard-4-step-2" class="text-nowrap mb-3 nav-link">
                <span class="sw-done-icon ion ion-md-checkmark"></span>
                <span class="sw-icon ion ion-ios-color-wand"></span>
                <div class="text-muted small">Второй шаг</div>
                Администратор компании
              </a></li>
              <li class="nav-item"><a href="#smartwizard-4-step-3" class="text-nowrap mb-3 nav-link">
                <span class="sw-done-icon ion ion-md-checkmark"></span>
                <span class="sw-icon ion ion-md-copy"></span>
                <div class="text-muted small">Третий шаг</div>
                Контакты
              </a></li>
                <li class="nav-item">
                <a href="javascript:void(0);" class="text-nowrap mb-3 nav-link">
                <span class="sw-done-icon ion ion-md-checkmark"></span>
                <span class="sw-icon ion ion-md-copy"></span>
                <div class="text-muted small">Четвертый шаг</div>
                Завершение
              </a>
                </li>
            </ul>

            <div class="mb-3">
              <div id="smartwizard-4-step-1" class="card animated fadeIn mb-3">
                <div class="card-body">
                  <div id="company_info">
{#                      <input type="hidden" name="custom_registration[title]"#}
{#                                                id="custom_registration_title" value="{{ company.name }}">#}
                    <div class="text-muted py-2"><strong>Название</strong>: {{ company.name }}</div>
{#                    <input type="hidden" name="custom_registration[legal_address]"#}
{#                           id="custom_registration_legal_address"#}
{#                           value="{{ company.CEO }}">#}
                    <div class="text-muted py-2"><strong>Юридический адрес</strong>: {{ company.legal_address }}
                    </div>
{#                    <input type="hidden" name="custom_registration[inn]" id="custom_registration_inn"#}
{#                           value="{{ company.TIN }}">#}
                    <div class="text-muted py-2"><strong>ИНН</strong>: {{ company.TIN }}</div>
{#                    <input type="hidden" name="custom_registration[ogrn]" id="custom_registration_ogrn"#}
{#                           value="1027700132195">#}
                    <div class="text-muted py-2"><strong>ОГРН</strong>: {{ company.PSRN }}</div>
{#                    <input type="hidden" name="custom_registration[kpp]" id="custom_registration_kpp" value="773601001">#}
                    <div class="text-muted py-2"><strong>КПП</strong>: {{ company.KPP }}</div>
{#                    <input type="hidden" name="custom_registration[ceo]" id="custom_registration_ceo"#}
{#                           value="Греф Герман Оскарович">#}
                    <div class="text-muted py-2"><strong>Генеральный директор</strong>: {{ company.CEO }}</div>
                  </div>
                    {% block actions %}

                        {% endblock %}
                </div>
              </div>
            <div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end">
                <div class="btn-group sw-btn-group" role="group">
                  <a href="#" class="btn btn-secondary sw-btn-prev">Назад</a>
                   <button class="btn btn-secondary sw-btn-next" type="submit">Далее</button>
                </div>
              </div>
                       </div>

          </form>
        </div>
{% endblock %}