{% load static %}
<!-- Footer Wrapper -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="3u 12u(mobile)">

                <!-- Links -->
                <section>
                    <h2>Быть на связи</h2>
                    <div>
                        <div class="row">
                            <div class="6u 12u(mobile)">
                                <dl class="contact">
                                    <dt>Telegram</dt>
                                    <dd><a href="#">@</a></dd>
                                    
                                    

                                </dl>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Links -->
                <section>
                    <h2>Smth</h2>
                    
                </section>

                

            </div>
            <div class="6u 12u(mobile)">

                <!-- About -->
                <section>
                    <h2><strong>О нас</strong></h2>
                    
                </section>

                <!-- Contact -->
                <section>

                    <div class="6u 12u(mobile)">
                        <dl class="contact">
                            <dt>Адрес</dt>
                            <dd>
                                Москва,<br /> Россия
                                <br />

                            </dd>
                            
                        </dl>
                    </div>

                </section>

            </div>
        </div>
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy;  2018 Все права защищены</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>


<!-- Scripts -->

<script src="{% static "assets/js/jquery.dropotron.min.js" %}"></script>
<script src="{% static "assets/js/skel.min.js" %}"></script>
<script src="{% static "assets/js/skel-viewport.min.js" %}"></script>
<script src="{% static "assets/js/util.js" %}"></script>
<!--[if lte IE 8]><script src="{% static "assets/js/ie/respond.min.js" %}"></script><![endif]-->
<script src="{% static "assets/js/main.js" %}"></script>
<script type="text/javascript">
    if (!navigator.cookieEnabled) {
        alert('Включите cookie для комфортной работы с этим сайтом');
    }
</script>

