
<div id="app">
    <div class="row">
      <aside class="panel col-3 col-xl-2">
  <div class="panel__inner">
    

<section class="panel__reviews">
  <header>
    <h6 class="m-0 mb-2 text-gray">Отзывы</h6>
  </header>
  <ul class="panel__reviews-list list-unstyled">
    
      <li class="panel__reviews-item">
        <a href="{% url 'lichniy-kabinet' %}" class="panel__reviews-link">Все отзывы</a>
        
          <span class="panel__reviews-count">{{ comment_count }}</span>
        
      </li>
    
      <li class="panel__reviews-item">
        <a href="{% url 'lk_accept' %}" class="panel__reviews-link">Верифицировать отзыв</a>
        
          <span class="panel__reviews-count">{{ accept_count }}</span>
        
      </li>
    
      <li class="panel__reviews-item">
        <a href="{% url 'add_comment' %}" class="panel__reviews-link">Добавить отзыв</a>
        
      </li>
    
  </ul>
</section>







<section class="panel__common mt-5">
  <ul class="panel__common-list list-unstyled">
    
      <li class="panel__common-item">
        <a href="{% url 'employee_list' %}" class="panel__common-link">Сотрудники</a>
      </li>
    
      <li class="panel__common-item">
        <a href="#" class="panel__common-link">Компания</a>
      </li>
    
      <li class="panel__common-item">
        <a href="{% url 'competence_list' %}" class="panel__common-link">Справочник компетенций</a>
      </li>
    
      <li class="panel__common-item">
        <a href="#" class="panel__common-link">Настройки</a>
      </li>
    
  </ul>
</section>

  </div>
</aside>

 <main class="col-9 col-xl-10">
