{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Chain Of Trust</title>
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="modal fade" id="getAccess" tabindex="-1" role="dialog" aria-labelledby="getAccess" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<div class="header">
    <div class="menu">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <a class="grey-button" data-toggle="modal" data-target="#getAccess">Получить доступ</a>
    </div>
    <div class="container">
        <h1>Платформа для определения опыта, уровня экспертизы и компетенции компании.</h1>
        <p>Chain Of Trust (CoT) - первая корпоративная блокчейн-платформа, для которая надежно проверяет и отслеживает уровень экспертизы и компетентности компании.
</p>
        <a class="violet-button" data-toggle="modal" data-target="#getAccess">Получить доступ</a>
    </div>
</div>
<div class="content ">
    <div class="container">
        <h2>Будущее это доверие</h2>
        <h3>Chain Of Trust создает доверительные отношения между компаниями.
            Для этого платформа использует методики оценки опыта, компетенций и экспертизы. </h3>
        <div class="cards">
            <div class="card">
                <div class="card_header">
                    <img src="{% static 'assets/img/group-1.png' %}" alt="">
                    <p>Релевантная<br> экспертиза</p>
                </div>
                <p>Анализ наличия и применения релевантной экспертизы - важнейший элемент оценки компании.
                    Для расчета этого показателя в CoT используются собственные разработки и известная методика 360.</p>
            </div>
            <div class="card">
                <div class="card_header">
                    <img src="{% static 'assets/img/group-2.png' %}" alt="">
                    <p>Уровень<br> компетенций </p>
                </div>
                <p>Автоматическая оценка уровня компетенций помогает выбрать надежного исполнителя,
                    исходя из достоверных данных, подтвержденных другими участниками рынка. </p>
            </div>
            <div class="card">
                <div class="card_header">
                    <img src="{% static 'assets/img/group-3.png' %}" alt="">
                    <p>Подтвержденный<br> опыт </p>
                </div>
                <p>Релевантный и официально подтвержденный опыт - эффективное средство
                    рекламы для исполнителя и важнейший триггер надежности для корпоративного заказчика. </p>
            </div>
        </div>
    </div>
</div>
<div class="content gradient ">
    <div class="container">
        <h2 class="white">Блокчейн и архитектура</h2>
        <h3 class="white">Платформа использует публичный блокчейн Waves, что помогает сохранить информацию неизменной.
            При этом, информация передается в закодированном виде и недоступна пользователям интернета. </h3>
        <img class="mobile_none" src="{% static 'assets/img/scheme.png' %}" alt="" style="width: 100%">
        <div class="mobile_none">
            <p class="waves_text">Платформа использует блокчейн Waves</p>
            <img src="{% static 'assets/img/waves_logo.png' %}" alt="">
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <h2>Платформа в действии</h2>
        <h3>Посмотрите как инструменты и функции платформы Chain Of Trust (CoT) помогают в решении повседневных задач любой компании. </h3>
        <div class="tiles">
            <div class=" big-tile">
                <h4 class="white">Подтвержденный опыт</h4>
                <p class="white">Подтвержденный другими участниками платформы опыт компании и сотрудников, информацию о котором можно получить за пару кликов.
</p>
            </div>
            <div class="tile wave">
                <h4>Компетенции</h4>
                <p>Проверяйте уровень компетенции компании, который необходим для реализации конкретного проекта, основываясь на реальных отзывах.</p>
            </div>
            <div class="tile wave">
                <h4>Экспертиза</h4>
                <p>Узнайте релевантный уровень экспертизы компании, который подтвержден другими участниками рынка, на основе выполненных проектов.
                </p>
            </div>
            <div class="tile">
                <h4>Проверка контрагента</h4>
                <p>Используйте платформу для дополнительной и узкоспециализированной проверки контрагента по наличию опыта, экспертизы и необходимой компетенции.
</p>
            </div>
            <div class="tile">
                <h4>Смарт подбор</h4>
                <p>Выбирайте надежных контрагентов на основе сводного рейтинга компании, подтвержденного клиентами и партнерами.</p>
            </div>
        </div>
    </div>
</div>
<div class="content" style="background: #F8F8F8">
    <div class="container">
        <h2>Применение</h2>
        <h3>Платформа при помощи виджетов, размещенных в точках принятия решения, заменяет сразу несколько инструментов оценки репутации компании.
 </h3>
        <div class="widgets">
            <div class="big-widget">
                <p class="small-text">Виджет отзывов</p>
                <img src="{% static 'assets/img/widget-1.png' %}" alt="">
            </div>
            <div class="widget-row">
                <div class="widget">
                    <img src="{% static 'assets/img/widget-2.png' %}" alt="">
                    <p class="small-text">Простой виджет</p>
                </div>
                <div class="widget">
                    <img src="{% static 'assets/img/widget-3.png' %}" alt="">
                    <p class="small-text">Информер</p>
                </div>
                <div class="widget">
                    <img src="{% static 'assets/img/widget-4.png' %}" alt="">
                    <p class="small-text">Расширенный виджет </p>
                </div>
            </div>
        </div>
    </div>
</div>
{#<div class="content">#}
{#    <div class="container">#}
{#        <h2>Кейсы</h2>#}
{#        <h3>Посмотрите применение различных инструментов корпоративной блокчейн-платформы на реальной практике российского бизнеса.</h3>#}
{#        <div class="cases">#}
{#            <div class="case">#}
{#                <img src="{% static 'assets/img/case-1.png' %}" alt="">#}
{#                <div class="case-text">#}
{#                    <h4>Отзывы о работе</h4>#}
{#                    <p>Chain Of Trust (CoT) is the first industry-focused blockchain-based#}
{#                        \platform that securely verify and track expertise & competency level of a company.</p>#}
{#                    <a href="#">Перейти на сайт</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="footer">
    <div class="menu">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <p>
            © 2018. Лаборатория блокчейн-решений для бизнеса BasisChain.<br>
            Все права защищены. При использовании материалов сайта ссылка обязательна.<br>
            Оператор сайта - ООО "Идее Группа". ОГРН 1157746876286.<br>
            <br>
            <a href="#">Условия использования персональных данных</a>
        </p>
        <a class="violet-button" data-toggle="modal" data-target="#getAccess">Получить доступ</a>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>