{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Отправка приглашения</h2>
    <h3>К сожалению Компания отзыв на услуги которой Вы жеали отправить не зарегистрирована в системе</h3>
    <h3>Но Вы можете пригласить её! Пожалуйста введите e-mail адресс представителя компании и ему будет отправлено пригласительное письмо</h3>
    <ul>
        <form action="{% url 'invitation_company' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Отправить"><br><br>
        </form>      
    </ul>
{% endblock %}