{% extends "base.html" %}
{% block content %}
<div id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="4u 12u(mobile)">
                        <div id="sidebar">
                            <!-- Sidebar -->

                            <section>
                                <header class="major">
                                    <h1>Личный кабинет</h1>
                                </header>
                                <nav id="nav_v">
                                    <ul>
                                       {% if request.user %} <li  class="current_page_item"><a href="{% url 'lichniy-kabinet' %}">Все отзывы({{ comment_count }})</a></li>
                                       {% else %} <li ><a href="{% url 'lichniy-kabinet' %}">Мои отзывы</a></li> {% endif %}
                                        <li><a href="{% url 'add_comment' %}">Добавить отзыв</a></li>
                                      {% if request.user %}  <li><a href="{% url 'lk_accept' %}">Верифицировать отзывы({{ accept_count }})</a></li>{% else %}<li class="current_page_item"><a href="#">Принять отзывы</a></li>{% endif %}
                                      <li></li>
                                      <li><a href="{% url 'regist_employee' %}">Добавить сотрудника</a></li>
                                      <li><a href="{% url 'employee_list' %}">Компания</a></li>
                                      <li><a href="{% url 'competence_list' %}">Справочник компетенций</a></li>
                                      <li><a href="#">Настройки</a></li>
                                    </ul>
                                </nav>
                            </section>
                        </div>
                    </div>
                    <div class="8u 12u(mobile) important(mobile)">
                        <div id="content">
                            <!-- Content -->
                          {% block objava %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>
{% endblock %}