{% extends "base.html" %}
{% block content %}
<div class="s-reviews">
  <div class="s-reviews__inner">
    <header class="mb-5">
      <h5 class="m-0">Все отзывы</h5>
    </header>
  <!--   <div class="row justify-content-end">
  
    <div class="col-3">
      <div class="input-field">
        <select>
          <option value="" disabled="disabled" selected="selected">Поиск по роли</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
  
    <div class="col-3">
      <div class="input-field">
        <select>
          <option value="" disabled="disabled" selected="selected">Поиск по роли</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
  
    <div class="col-3">
      <div class="input-field">
        <select>
          <option value="" disabled="disabled" selected="selected">Поиск по роли</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
  
</div> -->

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Тип участника</th>
          <th>Компания</th>
          <th>Инициатор</th>
          <th>Компетенция/область</th>
          <th>Дата создания</th>
          <th>Статус</th>
          <th class="column6 style1 s">Действия</th>
        </tr>
      </thead>
      <tbody>
        {% csrf_token %}
        {% for comment in comment_list_in %}
        <tr {% if comment.accept == True %} data-status="record" {% else %} {% endif %}>
{% if comment.hide == True %} {% else %}{% if comment.accept == True or comment.failure == True %} <td class="column5 style4 s" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false">{{ comment.id }}</td>
           <td>{% if comment.customer_flag == True %}Заказчик{% else %} Исполнитель {% endif %} </td>
           <td class="column2 style4 s" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"><a href="{% url 'comment_info' comment.id %}">{{ comment.user.useraccept.company }}</a></td>
            <td class="column2 style4 s" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"><a href="{% url 'comment_info' comment.id %}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></td>
             <td class="column2 style4 s" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"><a href="{% url 'comment_info' comment.id %}">{% for competence in comment.competence.all %}
                          #{{ competence.id }} {{ competence.competence_name }}<br> 
                          {% endfor %}</a></td>
            <td class="column1 style1 s" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"><a href="{% url 'comment_info' comment.id %}">Создан: {{ comment.date_create }} {% if comment.date_update > comment.date_create %}{% if comment.accept == True  or comment.failure == True %}<br> Записан в блок: {{ comment.date_update }} {% else %}<br>Обновлено: {{ comment.date_update }}{% endif %}{% endif %}</a></td>
             <td class="column3 style4 null" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"><a href="{% url 'lk_comment' comment.id %}">{% if comment.accept == True %}<span class="status status_record">Записан в блокчейн</span>{% elif comment.failure == True %}<span class="status status_changed">Отказ записан в блокчейн</span>{% else %}<span class="status status_waiting">Ожидает верификации от других участников</span>{% endif %}</a></td>
             <td onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"></td>
{% else %} <td class="column5 style4 s" onclick="window.location.href='{% url 'lk_comment' comment.id %}'; return false">{{ comment.id }}</td>
           <td onclick="window.location.href='{% url 'lk_comment' comment.id %}'; return false">{% if comment.customer_flag == True %}Заказчик{% else %} Исполнитель {% endif %}</td>
           <td class="column2 style4 s" onclick="window.location.href='{% url 'lk_comment' comment.id %}'; return false"><a href="{% url 'lk_comment' comment.id %}">{{ comment.user.useraccept.company }}</a></td>
           <td class="column2 style4 s" onclick="window.location.href='{% url 'lk_comment' comment.id %}'; return false"><a href="{% url 'lk_comment' comment.id %}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></td>
           <td class="column2 style4 s" onclick="window.location.href='{% url 'lk_comment' comment.id %}'; return false"><a href="{% url 'lk_comment' comment.id %}">{% for competence in comment.competence.all %}
                          #{{ competence.id }} {{ competence.competence_name }}<br> 
                          {% endfor %}</a></td>
            <td class="column1 style1 s" onclick="window.location.href='{% url 'lk_comment' comment.id %}'; return false"><a href="{% url 'lk_comment' comment.id %}">Создан: {{ comment.date_create }} {% if comment.date_update > comment.date_create %}{% if comment.accept == True or comment.failure == True %}<br> Записан в блок: {{ comment.date_update }} {% else %}<br>Обновлено: {{ comment.date_update }}{% endif %}{% endif %}</a></td>
            <td class="column3 style4 null" onclick="window.location.href='{% url 'lk_comment' comment.id %}'; return false"><a href="{% url 'lk_comment' comment.id %}">{% if comment.accept == True %}<span class="status status_record">Записан в блокчейн</span>{% elif comment.failure == True %}<span class="status status_changed">Отказ записан в блокчейн</span>{% else %}<span class="status status_waiting">Ожидает верификации от других участников</span>{% endif %}</a></td>
            <td>{% if comment.accept == True %}{% elif comment.failure == True %}
                                            {% else %} <a href="{% url 'lk_comment' comment.id %}"><i class="fa fa-pencil"></i></a>&nbsp;
            <a class="delete" href="{% url 'delete_comment' comment.id %}"><i class="fa fa-times"></i></a> {% endif %}</td>
       {% endif %}{% endif %} </tr>
        {% endfor %}
        {% for comment in comment_list_out %}
        <tr {% if comment.accept == True %} data-status="record" {% else %} {% endif %}>
           {% if comment.hide == True %} {% else %} <td class="column5 style4 s" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false">{{ comment.id }}</td>
           <td>{% if comment.customer_flag == True %}Заказчик{% else %} Исполнитель {% endif %}</td>
           <td class="column2 style4 s" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"><a href="{% url 'comment_info' comment.id %}">{{ comment.user.useraccept.company }}</a></td>
            <td class="column2 style4 s" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"><a href="{% url 'comment_info' comment.id %}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></td>
             <td class="column2 style4 s" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"><a href="{% url 'comment_info' comment.id %}">{% for competence in comment.competence.all %}
                          #{{ competence.id }} {{ competence.competence_name }}<br> 
                          {% endfor %}</a></td>
            <td class="column1 style1 s" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"><a href="{% url 'comment_info' comment.id %}">Создан: {{ comment.date_create }} {% if comment.date_update > comment.date_create %}{% if comment.accept == True  or comment.failure == True %}<br> Записан в блок: {{ comment.date_update }} {% else %}<br>Обновлено: {{ comment.date_update }}{% endif %}{% endif %}</a></td>
             <td class="column3 style4 null" onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"><a href="{% url 'lk_comment' comment.id %}">{% if comment.accept == True %}<span class="status status_record">Записан в блокчейн </span>{% elif comment.failure == True %}<span class="status status_changed">Отказ записан в блокчейн </span> {% else %}<span class="status status_waiting">
Ожидает верификации от других участников{% endif %}</span> </a></td>
             <td onclick="window.location.href='{% url 'comment_info' comment.id %}'; return false"></td>
             {% endif %} </tr>
        {% endfor %}
    </tbody>
</table>
<script>
$( document ).ready(function() {
    $( ".delete" ).click(function() {
       if ((confirm("Вы действительно хотите удалить неопубликованный отзыв?")) == false) {
          event.preventDefault();
       };
    });
});
</script>
          
        
      
    <p class="mt-4">
      <a href="{% url 'add_comment' %}"><button class="button button_primary">Добавить отзыв</button></a>
    </p>
  </div>
</div>

  </main>

    </div>
  {% endblock %}